*{cursor: url(library/cursors/moon.png), default;}
:root {
      --pagebg: #ff85f7;
    }
body {
  background-color: var(--pagebg);
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 35px;
}

p{
    color: #ffffff;
}

.story{
    position: absolute;
    top: calc(20vh + 250px + 40px);
    font-size: 14px;
    line-height: 1.5em;
    font-family: monospace;
    color: black;
    margin: 0px 15px 0px;
    
}

h1 {
    text-align: center;
    letter-spacing: 0em;
    margin-top: 15px;
    font-size: 35px;
}

/* unvisited link */
a:link {
  color:  #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #000000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

/* selected link */
a:active {
  color: #ffffff;
  text-decoration: none;
}


.nav{
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: inline-block;
    position: relative;
    font-style: italic;
}


.marquee span:hover{
    animation-play-state: paused;
    cursor: pointer;
}


/* photo reel */
.marquee {
    position: absolute;
    top: 20vh;
    left: 0;
    font-size: 0px;

    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background: #ffffff;

    letter-spacing: 0;
    line-height: 250px;
}
.marquee span {
    display: inline-block;
    will-change: transform;
    animation: marquee 45s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(-70%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}


.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
img{
  vertical-align: top;
}
