/**{cursor: url(library/cursor.png), default;}*/

:root {
      --pagebg: #fdfcfe;
    }
body {
  background-color: var(--pagebg);
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 35px;
}

/* unvisited link */
a:link {
  color:  #000000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color:  #000000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #cc3204;
  text-decoration: none;
  cursor: pointer;
}

#mainimg {
    /* width: 50%;
    
    margin: 10px;
    display: block; */
    max-width: 50vw;
    height: auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #cc3204; padding:40px;
}

.pgtext{
    position: relative;
    font-size: 13px;
    line-height: 1.5em;
    font-family: monospace;
    color: black;
    margin: 0px 2vw 0px; 
}

h1 {
    text-align: center;
    letter-spacing: 0em;
    margin-top: 15px;
    font-size: 35px;
}


.nav{
    margin-top: 3vh;
    margin-left: 2vh;
    margin-right: 2vh;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    display: inline-block;
    position: relative;
    font-style: italic;
}


/* for projects & about pg */
.marquee span:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.marquee {
    position: absolute;
    top: 0;
    left: 0;

    font-size: 30px;
    letter-spacing: 0.2em;
    line-height: 60px;

    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    background: #ffffff;
}
.marquee span {
    display: inline-block;
    will-change: transform;
    animation: marquee 15s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(-70%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

.bottom{
    position: fixed;
    bottom: 0px;
    font-size:  9px;
    line-height: 1em;
    font-family:  monospace;
    text-align:  center;
    width:  100%;
}
